services:
  devops-project-1-backend:
    build: ./backend
    image: ghcr.io/${GITHUB_REPOSITORY}/backend:latest
    container_name: devops-project-1-backend
    networks:
      - app-internal
    expose:
      - "5000"

  devops-project-1-frontend:
    build: ./frontend
    image: ghcr.io/${GITHUB_REPOSITORY}/frontend:latest
    container_name: devops-project-1-frontend
    environment:
      - BACKEND_URL=http://devops-project-1-backend:5000
    ports:
      - "57001:3000"
    networks:
      - app-internal

networks:
  app-internal:
    driver: bridge
