services:
  backend:
    build: ./backend
    container_name: backend
    networks:
      - app-internal
    expose:
      - "5000"

  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      - BACKEND_URL=http://backend:5000
    ports:
      - "57001:3000"
    networks:
      - app-internal

networks:
  app-internal:
    driver: bridge
